@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: auto 0 0 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --main: #1E1E1E;
    --secundary: white;
    --tertiary: #dc2626;
    --text-1: var(--secundary);
    --text-2: var(--tertiary);
    --text-3: var(--main);
    --transition: ease-in-out 300ms;
    --rounded-md: 6px;
    --rounded-lg: 8px;
    --rounded-xl: 12px;
    --certo: #10b981;
    --errado: #dc2626;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main);
    color: var(--text-1);
}

h1,
h2,
h3,
h4,
h5,
button,
label {
    font-family: "Press Start 2P", system-ui;
}

li {
    list-style: lower-alpha;
}

cite {
    display: flex;
    align-self: flex-end;
}

button {
    background: var(--secundary);
    border: none;
    color: var(--text-3);
    width: fit-content;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: var(--rounded-md);
    text-transform: uppercase;
}

button:hover {
    color: var(--text-2);
}

button:focus {
    background: var(--tertiary);
    color: var(--text-1);
    cursor: pointer;
    transition: var(--transition);
}

div#questao-div.questao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container>* {
    width: 70%;
    margin-inline: auto;
}

#alternativas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#nome-jogador-form>div input {
    width: 20rem;
}

input[type=text] {
    background: transparent;
    border: solid 2px var(--secundary);
    color: var(--text-1);
    outline: none;
    border-radius: var(--rounded-md);
    padding: 1rem;
}

input[type=text]:focus {
    outline: var(--tertiary) solid 2px;
}

h1>span {
    color: var(--text-2);
}

#antifa-logo.large-img {
    width: 20rem;
}
#antifa-logo.small-img {
    width: 6rem;
}

.container.half {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 50%;
    margin: auto;
    align-items: center;
    flex-grow: 1;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-8 {
    gap: 8rem;
}

.flex.col {
    flex-direction: column;
}

.x-center {
    margin-inline: auto;
}

.y-center {
    margin-block: auto;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    height: 100vw;
}

.my-4{
    margin-block: 4rem;
}

.my-2{
    margin-block: 2rem;
}

.w-fit{
    width: fit-content;
}

.text-primary{
    color: var(--main);
}
.text-secundary{
    color: var(--secundary);
}
.text-tertiary{
    color: var(--tertiary);
}

.bold{
    font-weight: bold;
}

.text-2xl{
    font-size: xx-large;
}

.hidden {
    display: none;
}

.questao-span{
    background: var(--secundary);
    color: var(--text-3);
    padding: 1rem;
    padding-right: 2rem;
    border-radius: var(--rounded-md);
}

.hover:hover{
    cursor: pointer;
    transition: var(--transition);
}

.questao-span:hover{
    scale: 1.1;
}

.questao-span input[type=radio]{
    visibility: hidden;
}
/* 
.questao-span:has( input[type=radio]:checked){
    color: var(--certo);
} */

.resposta-certa{
    background: var(--certo);
    color: var(--text-1);
}

.resposta-errada{
    background: var(--errado);
    color: var(--text-1);
}

/* ---------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

  *,
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    background-color: #171717;
  }

  main {
    padding: 20px;
    max-width: 640px;
    margin: 0 auto 64px;
  }

  a.prev,
  a.next {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    border: solid 2px #27272a;
  }

  a.prev:hover,
  a.next:hover {
    background: #27272a;
    transition: ease-in-out 300ms background;
  }

  .navigation {
    display: flex;
    margin-block: 1rem;
    justify-content: space-between;
  }

  .quiz-item {
    margin-top: 24px;
    border: 1px solid #27272a;
    border-radius: 6px;

    overflow: hidden;
  }

  .quiz-item h3 {
    padding: 16px 20px;
    color: #e2e8f0;

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: #27272a;
  }

  .quiz-item h3:before {
    content: attr(data-id);

    background-color: #27272a;
    width: 28px;
    height: 28px;
    font-size: 12px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .quiz-item dl {
    padding: 20px 24px;

    display: grid;
    gap: 8px;
  }

  .quiz-item dl dt {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;

    display: flex;
    align-items: center;
    gap: 8px;

    color: #e2e3f0;
  }

  input {
    all: unset;
    border: 1px solid #94a3b8;
    width: 16px;
    height: 16px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  input:checked {
    border: 1px solid #dc2626;
  }

  input:checked:before {
    content: "";
    width: 10px;
    height: 10px;

    background-color: #dc2626;
    border-radius: 50%;
  }

  #acertos-div {
    text-align: center;
    background-color: #dc2626;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 12px;
  }

  dt.alternativa {
    background: #27272a;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
  }

